.movie-page {
    color: #FFF;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 2rem auto;
}

.movie-page svg {
    font-size: 1.5rem;;
    color: #F7D354;
}

.movie-page .movies-card {
    text-align: center;

}

.movie-page .movies-card img,
.movie-page .movies-card h2,
.movie-page .movies-card p {
    margin-bottom: 1rem;
}

.movie-page .movies-card h2 {
    font-size: 2rem;
}

.movie-page .movies-card p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}

.tagline {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.info {
    margin-bottom: 1.5rem;
}

.info h3 {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.description {
    margin-bottom: 10rem;
}

.description p {
    line-height: 1.4rem;
}

/* .custom-player {
  position: relative;
  background: #000;
  border-radius: 8px;
  overflow: hidden;
}

.custom-controls button {
  background: rgba(255,0,0,0.8);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.custom-controls button:hover {
  background: rgba(255,0,0,1);
} */

/* Player Custom Styles */




